@using Microsoft.AspNet.Identity
@using SIM.Areas.Seguridad.Models
@using SIM.Utilidades

@{
    if (Request.IsAuthenticated && Session["_Menu"] == null)
    {
        Session["_Menu"] = Security.ObtenerHTMLMenu(ModelsToListSeguridad.GetOpcionesMenu());
        Session["_UserName"] = ModelsToListSeguridad.ObtenerNombreUsuario(User.Identity.GetUserId());
      
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="@Url.Content("~/Content/Images/favico-area.ico?v=1.01")" />
    <title>@ViewBag.Title - SIM</title>

    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.12.3.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/cldr.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/cldr/event.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/cldr/supplemental.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/cldr/unresolved.min.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/Scripts/globalize.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/globalize/message.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/globalize/number.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/globalize/currency.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/globalize/date.js ")"></script>

    @Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionSuite = ExtensionSuite.DashboardViewer }
    )
    @Html.DevExpress().GetScripts(
        new Script { ExtensionSuite = ExtensionSuite.DashboardViewer }
    )

    <!--Css editados-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/EstiloPagina.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/normalize.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Principal.css?v=1.08")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/TramitesLinea.css")" />
    <!--Fin Menu-->

    <!-- Include jQuery.mmenu .css files -->
    <link type="text/css" href="@Url.Content("~/Scripts/js/jquery.mmenu-5.0.4/css/jquery.mmenu.all.css")" rel="stylesheet" />
    <link type="text/css" href="@Url.Content("~/Scripts/js/jquery.mmenu-5.0.4/css/extensions/jquery.mmenu.themesim.css")" rel="stylesheet" />

    <!-- Include the jQuery.mmenu .js files -->
    <script type="text/javascript" src="@Url.Content("~/Scripts/js/jquery.mmenu-5.0.4/js/jquery.mmenu.min.all.js")"></script>

    <!-- Fire the plugin onDocumentReady -->
    <script type="text/javascript">
        function Sesion() {
            $(".OffLogin").toggle(0700);
        }

        function cerrarSesion() {
            eliminarUsuario(localStorage.getItem("USER"),localStorage.getItem("ID"));
            localStorage.removeItem("USER");
            localStorage.removeItem("ID");
            document.getElementById('logoutForm').submit();
        }

        var inrt = "";
        $(document).ready(function () {
            if ($("#txtalejo").val() != "")
            {
                crearlocalstore();

            } else {

            }
            //Globalize.culture("es-CO");
            //Globalize.locale(navigator.language || navigator.browserLanguage);
            $('#menuSIM').removeAttr("style");

            $("#menuSIM").mmenu({
                "extensions": [
                   "pageshadow",
                   "theme-sim"
                ],
                /*"offCanvas": {
                    "zposition": "front"
                },*/
                "counters": false,
                "header": {
                    "title": "Sistema de Informaci&oacute;n Metropolitano",
                    "add": true,
                    "update": true
                },
                "searchfield": {
                    "placeholder": "Buscar",
                    "noResults": "No se encontraron resultados",
                    "add": true,
                    "search": true
                }
            });
            });
            function crearlocalstore() {
                $.ajax({
                    type: "POST",

                    url: "@Url.Content("~/Seguridad/Account/consultarUsuario")",

                beforeSend: function () { },
                success: function (response) {

                    var obj = eval("(" + response + ')');
                    if (obj[0] != null) {
                        localStorage.setItem("USER", obj[0].USUARIO);
                        localStorage.setItem("ID", obj[0].CLAVE);

                        inrt = setInterval(validarLogueo, 30000);
                        setTimeout(function () { clearInterval(inrt); }, 10000);
                    }

                }
            });
            }

            function eliminarUsuario(user,clav) {
                $.ajax({
                    type: "POST",

                    url: "@Url.Content("~/Seguridad/Account/eliminarUsuario")",
                    data: { usuario: user, clave: clav },

                beforeSend: function () { },
                success: function (response) {




                }
            });
        }
            function validarLogueo() {
                user = localStorage.getItem("USER");
                clav = localStorage.getItem("ID");
                $.ajax({
                    type: "POST",

                    url: "@Url.Content("~/ControlVigilancia/Visitas/validar")",
                    data: { usuario: user, clav: clav },

                beforeSend: function () { },
                success: function (response) {




                }
            });
        }

            $('#hamburger').click(function () {
                /*(if ($('#menuSIM').hasClass('mm-opened')) {
                    var API = $("#menuSIM").data("mmenu");
                    API.close();
                }*/
            });

    </script>
</head>
<body>
    <input value="@Request.IsAuthenticated" id="txtalejo" style="display:none;"/>
    @if (Request.IsAuthenticated)
    {
        if (ViewBag.OcultarMenu == null || !ViewBag.OcultarMenu)
        {
            @Html.Raw(Session["_Menu"])
        }
    }

    <div>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="OffLogin" style="display:none">
                    <div class="flecha"></div>
                    <button type="button" class="top btn btn-default alingRight">@Html.ActionLink("Administrar Cuenta", "Manage", "Account", routeValues: new { area = "Seguridad" }, htmlAttributes: new { title = "Manage", style = "color:white" })</button>
                    <button type="button" class="bottom btn btn-default alingRight" onclick="cerrarSesion()"> <span class="glyphicon glyphicon-off" aria-hidden="true"></span>Cerrar Sesion</button>
                </div>
                <div class="encabezado">
                    @if (Request.IsAuthenticated)
                    {
                        <a id="hamburger" href="#menuSIM"><span></span></a>
                    }
                    <div class="Logos" id="Logos" @if (!Request.IsAuthenticated) { <text> style="margin-left:0px" </text>   }>
                    </div>
                    <p id="tituloLargo">Sistema de Información Metropolitano</p>
                    <p id="tituloCorto">SIM</p>
                    @if (Request.IsAuthenticated)
                    {
                        using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                        {
                            @Html.AntiForgeryToken()
                            <button type="button" class="btn btn-default alingRight btnGreen Login" onclick="Sesion()"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>@Session["_UserName"]</button>
                        }
                    }
                </div>
            </div>
        </div>
        <table style="width:100%; height:100%">
            <tr style="height:70px">
                <td>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="containerdb body-content">
                        @RenderBody()
                    </div>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>