@model SIM.Areas.Seguridad.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Registrarse";
}
<h2>@ViewBag.Title.</h2>
<h3>Asociar tu cuenta de @ViewBag.LoginProvider.</h3>

<div class="row">
    <div class="col-md-8">
        @using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>REGISTRARSE</h4>
            <hr />
            @Html.ValidationSummary(true)
            <p class="text-info">
                Te has autenticado satisfactoriamente con <strong>@ViewBag.LoginProvider</strong>.
                Por favor diligenciar el siguiente formulario para completar tu registro.
            </p>

            <div class="form-group">
                @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.LastName)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.FirstName)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.TipoUsuario, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.TipoUsuario, (SelectList)ViewBag.TIPOUSUARIO)
                    @Html.ValidationMessageFor(m => m.TipoUsuario)

                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Registrarse" />
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
