@model SIM.Areas.TalaPoda.Models.INT_INTERVENCION

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>INT_INTERVENCION</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.D_FECHA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.D_FECHA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_ACTOR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_ACTOR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.S_OBSERVACIONES)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S_OBSERVACIONES)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.S_FICHA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S_FICHA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_INDIVIDUO_DISPERSO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_INDIVIDUO_DISPERSO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_OPERADOR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_OPERADOR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.D_ACTUALIZACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.D_ACTUALIZACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.L_PROPUESTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.L_PROPUESTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_CONTRATO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_CONTRATO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_ESTADO_INT_CONTRATO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_ESTADO_INT_CONTRATO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_USUARIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_USUARIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_INTERVENTOR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_INTERVENTOR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA_INGRESO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_INGRESO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FLR_INTERVENCION.S_INTERVENCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FLR_INTERVENCION.S_INTERVENCION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INT_CARACTERISTICAS.ID_INTERVENCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INT_CARACTERISTICAS.ID_INTERVENCION)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_INTERVENCION }) |
    @Html.ActionLink("Back to List", "Index")
</p>
