@model SIM.Data.Poeca.TPOEAIR_SEGUIMIENTO_META

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TPOEAIR_SEGUIMIENTO_META</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DPOEAIR_PERIODO_IMPLEMENTACION.NombrePeriodo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DPOEAIR_PERIODO_IMPLEMENTACION.NombrePeriodo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TPOEAIR_ACCIONES_PLAN.S_RESPONSABLE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TPOEAIR_ACCIONES_PLAN.S_RESPONSABLE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.N_SEGUIMIENTO_META)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.N_SEGUIMIENTO_META)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.D_FECHA_ACTUALIZACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.D_FECHA_ACTUALIZACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.N_VALORACION_ECONOMICA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.N_VALORACION_ECONOMICA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.S_OBSERVACIONES)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S_OBSERVACIONES)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_RESPONSABLE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_RESPONSABLE)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
