@model SIM.Data.Poeca.DPOEAIR_EPISODIO

@{
    ViewBag.Title = "POECA | Editar Episodio";
}
<div class="container-fluid maxed">
    <div class="col-xs-12 text-center">
        <h2>Editar Episodio</h2>


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ID)

                <div class="form-group">
                    @Html.LabelFor(model => model.N_ANIO, htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownList("N_ANIO", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.N_ANIO, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ID_PERIODO, htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownList("ID_PERIODO", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ID_PERIODO, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.S_OBSERVACIONES, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.S_OBSERVACIONES, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.S_OBSERVACIONES, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-6">
                            @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-block btn-danger" })
                        </div>

                        <div class="col-xs-6">
                            <input type="submit" value="Guardar" class="btn btn-block btn-default" />
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundlesv5/jqueryval")
}