@using SIM.Properties

@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<script>
    $(document).ready(function () {
        AjustarTamanoContenedor();
    });

    $(window).resize(function () {
        AjustarTamanoContenedor();
    });

    function AjustarTamanoContenedor() {
        $("#pnlContenedor").height((window.innerHeight || document.body.clientHeight) - 15);
        AjustarTamanoDependientes();
    }

    function AjustarTamanoDependientes() {
        //$("#tabTareaSiguiente").height($("#pnlContenedor").outerHeight() - $("#pnlContenedorTitulo").outerHeight() - 4);
    }
</script>

<script type="text/javascript" src="@Url.Content("~/Areas/Tramites/Scripts/avanzatareatramite.js?v=1.12")"></script>

<div ng-app="SIM" data-url="@Url.Content("~")" data-codtramites="@(ViewBag.CodTramites)" data-codtarea="@(ViewBag.CodTarea)" data-tipo="@(ViewBag.Tipo)" data-restresp="@(ViewBag.RestringirResponsable)" data-origen="@(ViewBag.Origen)" data-copiadefecto="@(ViewBag.CopiaDefecto)" data-multitramite="@(ViewBag.MultiTramites)" data-grupo="@(ViewBag.IdGrupo)" id="app" class="my-cloak" style="padding: 5px" resizable>
    <div ng-controller="AvanzaTareaTramiteController" class="panelSIM panelSIM-default" id="pnlContenedor">
        <div dx-load-panel="{message: 'Cargando...', showIndicator: true, shading: true, bindingOptions: { visible: 'cargandoVisible' } }"></div>
        <div dx-tabs="dxTabsOptions" id="tabOpciones" class="panelSIM-heading" style="height: 45px"></div>
        <div style="margin: 0px; height: calc(100% - 90px); width: 100%" class="panelSIM-heading">
            <div id="tabTareaSiguiente" ng-show="isActive(0)" style="height: 100%">
                @if (ViewBag.MultiTramites == 1)
                {
                <div class="row">
                    <div class="col-md-8" style="height: 230px">
                        <div style="height: 30px">Tr&aacute;mites</div>
                        <div style="height: 200px">
                            <div dx-data-grid="grdTramitesSettings" id="grdTramites"></div>
                        </div>
                    </div>
                    <div class="col-md-4" style="height: 230px">
                        <div style="height: 30px">Tareas</div>
                        <div style="height: 200px">
                            <div dx-data-grid="grdTareasSettings" id="grdTareas"></div>
                        </div>
                    </div>
                </div>
                }
                else
                {
                    <div style="height: 30px">Tareas</div>
                    <div style="height: 200px">
                        <div dx-data-grid="grdTareasSettings" id="grdTareas"></div>
                    </div>
                }
                <div style="height: 20px; margin-top: 20px">Responsables</div>
                <div style="height: calc(100% - 280px)">
                    <div dx-data-grid="grdResponsablesSettings" id="grdResponsables"></div>
                </div>
            </div>
            <div id="tabCopias" ng-show="isActive(1)" style="height: 100%">
                <div dx-popup="popFuncionariosSettings" id="popFuncionarios">
                    <div dx-data-grid="grdFuncionariosSettings" id="grdFuncionarios"></div>
                </div>
                <div style="width: 100%; text-align: right; margin-bottom: 10px;">
                    <div dx-button="btnAdicionarFuncionarioSettings"></div>
                </div>
                <div style="height: calc(100% - 55px)">
                    <div dx-data-grid="grdCopiasSettings" id="grdCopias"></div>
                </div>
            </div>
            <div id="tabComentarios" ng-show="isActive(2)" style="height: 100%">
                <div dx-text-area="txtComentarios" id="txtComentarios"></div>
            </div>
        </div>
        <div style="width: 100%; height: 45px; text-align: right; padding: 5px">
            <div dx-button="btnAceptarAvanzarTareaSettings" id="btnAceptarAvanzarTarea"></div>
            <div dx-button="btnCancelarAvanzarTareaSettings" id="btnCancelarAvanzarTarea"></div>
        </div>
    </div>
</div>