@model SIM.Areas.Encuestas.Models.RESPUESTA

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RESPUESTA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.S_VALOR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S_VALOR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.S_CODIGO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S_CODIGO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.N_ORDEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.N_ORDEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PREGUNTA.S_NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PREGUNTA.S_NOMBRE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_RESPUESTA }) |
    @Html.ActionLink("Back to List", "Index")
</p>
