@model IEnumerable<SIM.Areas.Encuestas.Models.OBJETO_CONTROL>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.S_NOMBRETABLA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.S_NOMBRECAMPO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.S_CODIGOOBJETO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_VISITA)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.S_NOMBRETABLA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.S_NOMBRECAMPO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.S_CODIGOOBJETO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_VISITA)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_OBJETOCONTROL }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_OBJETOCONTROL }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_OBJETOCONTROL })
        </td>
    </tr>
}

</table>
