@using System.Web.UI.WebControls
@using System.Web.Mvc
@using SIM.Areas.ControlVigilancia.Controllers;
@using SIM.Areas.ControlVigilancia.Models;
@{
    ViewBag.Title = "Ocupación Cauce";
    Layout = "~/Areas/ControlVigilancia/Views/Shared/_Layout.cshtml";
 }

     
        <script src=@Url.Content("~/Scripts/jquery-1.10.2.js")></script>
        <script src=@Url.Content("~/Scripts/jquery-ui.js")></script>
        <link href='//fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Aguas.css?v=1.01")" />
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/FormularioGeneral.css")" />
        <script src="@Url.Content("~/Scripts/mapgis_integracion.js")"></script>
        <script src="@Url.Content("~/Scripts/js/scripAguas.js?v=1.01")"></script>

        <script src="@Url.Content("~/Scripts/jquery.carouFredSel-6.2.1.js")"></script>
        <script src="@Url.Content("~/Scripts/jquery.carouFredSel-6.2.1-packed.js")"></script>
        <script src="@Url.Content("~/Scripts/jquery.jquery.mousewheel.min.js")"></script>
        <script src="@Url.Content("~/Scripts/jquery.touchSwipe.min.js")"></script>
        <script src="@Url.Content("~/Scripts/jquery.transit.min.js")"></script>
        <script src="@Url.Content("~/Scripts/js/FcomponentesGenerales.js?v=2.10")"></script>
        <script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/globalize/0.1.1/globalize.min.js"></script>

        <link rel="stylesheet" type="text/css" href="//cdn3.devexpress.com/jslib/14.2.5/css/dx.common.css" />
        <link rel="stylesheet" type="text/css" href="//cdn3.devexpress.com/jslib/14.2.5/css/dx.light.css" />
        <!-- The line below was commented by the Project Converter, see this link for more info: -->
        <!--<script type="text/javascript" src="//cdn3.devexpress.com/jslib/14.2.5/js/dx.webappjs.js"></script>-->
        <script type="text/javascript" src="//cdn3.devexpress.com/jslib/14.2.5/js/dx.all.js"></script>
        

        <script>
    var tipoV = "N";
    $(document).ready(function () {


        $("#txtidItem").val("@ViewBag.txtidItem")
        $("#txtidEstadoBase").val("@ViewBag.txtidEstadoBase")
        $("#txturlMapa").val("@ViewBag.txturlMapa")
        $("#txttblFotos").val("@ViewBag.txttblFotos")
        $("#txtForm").val("@ViewBag.txtForm")
        $("#txtidVisita").val("@ViewBag.txtidVisita")
        $("#txtVisita").val("@ViewBag.txtidVisita")
        $("#txtinstalacion").val("@ViewBag.txtinstalacion")
        $("#txttercero").val("@ViewBag.txttercero")
        $("#txttblEstados").val("@ViewBag.txttblEstados")
        tipoV = "@ViewBag.txttipoV";

        var textoi = $("#texttoempresa").text()+"@ViewBag.textoEmpresa";
        $("#texttoempresa").text(textoi.replace("&#243;","ó"));
        if (tipoV == "CAR1") {
            $("#Tab1").css('display', 'none');
            $("#tabMapa").removeClass("active");
            $("#tabMapa").removeClass("in");
            $("#tabDetalle").addClass("active")
            $("#tabDetalle").addClass("in")
            $("#Tab3 a").click();
            CrearEstadoItemUni();

        } else
            if (tipoV == "N") {

                $("#Tab3").css('display', 'none');
                $("#Tab4").css('display', 'none');
                $("#Tab5").css('display', 'none');
                $("#Tab6").css('display', 'none');
                $("#btnGuardar1").prop("disabled", true);
                $("#txtNombreOficial").text("Ocupación cauce(Nuevo)")//ENVIAR COMO PARAMETRO
                consultarJsonInfoGeneral();

            } else if (tipoV == "M") {
                consultarJsonInfoGeneral();
                consultarJsonEncuesta();
                CargarGrid();


            }
            else if (tipoV == "D") {
                consultarJsonInfoGeneral();
                consultarJsonEncuesta();
                CargarGrid();

                $("#Tab3").css('display', 'none');
                $("#Tab4").css('display', 'none');
                $("#Tab5").css('display', 'none');
                $("#Tab6").css('display', 'none');
            }
    });
    var jsonInfoGeneral;
    var jsonGeometria;
    var jsonGeometriaGuardar= new Array();
    function consultarJsonInfoGeneral() {
        onLoad("tabMapa");
        $.ajax({
            type: "POST",
            url: '@Url.Action("consultarJsonInfoGeneral", "OcupacionCause")',
            data: { idItem: $("#txtidItem").val(), idFormulario: $("#txtForm").val() },
            beforeSend: function () { },
            success: function (response) {
                try {
                    var jsonmix = response.split("||");
                    jsonInfoGeneral = eval('(' + jsonmix[0] + ')');
                    jsonGeometria = eval('(' + jsonmix[1] + ')');
                    var obj = new Object();
                    try {

                        obj['X'] = Number(jsonGeometria['row1'].X + '.' + jsonGeometria['row1'].Y);
                        obj['Y'] = Number(jsonGeometria['row2'].X + '.' + jsonGeometria['row2'].Y);
                        jsonGeometriaGuardar.push(obj);
                        obj = new Object();
                        obj['X'] = Number(jsonGeometria['row3'].X + '.' + jsonGeometria['row3'].Y);
                        obj['Y'] = Number(jsonGeometria['row4'].X + '.' + jsonGeometria['row4'].Y);
                        jsonGeometriaGuardar.push(obj);
                    }
                    catch (err) {
                    }

                    //jsonGeometriaGuardar{X:,Y:jsonGeometria['row2'].X + '.' + jsonGeometria['row2'].Y};
                    $("#txtidItem").val(jsonInfoGeneral.ID_ITEM);
                    if ($("#txtidEstadoBase").val() != "-1") {
                        $("#txtNombreOficial").text(jsonInfoGeneral.NOMBRE)
                        $("#txtNombreTemp").val(jsonInfoGeneral.NOMBRE);
                    }

                } catch (e) {

                }
                offLoad("tabMapa");



            }
        });
    }

    function CrearEstadoItem() {

        $.ajax({
            type: "POST",
            url: '@Url.Action("CrearEstadoItem", "OcupacionCause")',
            data: { idItem: $("#txtidItem").val(), idFormulario: $("#txtForm").val(), idVisita: $("#txtidVisita").val(), instalacion: $("#txtinstalacion").val(), tercero: $("#txttercero").val() },
            beforeSend: function () { },
            success: function (response) {
                var dato = eval('(' + response + ')');
                $("#txtidEstadoBase").val(dato)
            }
        });
    }
    function CrearEstadoItemUni() {

        $.ajax({
            type: "POST",
            url: '@Url.Action("CrearEstadoItem", "OcupacionCause")',
            data: { idItem: $("#txtidItem").val(), idFormulario: $("#txtForm").val(), idVisita: $("#txtidVisita").val(), instalacion: $("#txtinstalacion").val(), tercero: $("#txttercero").val() },
            beforeSend: function () { },
            success: function (response) {
                var dato = eval('(' + response + ')');
                $("#txtidEstadoBase").val(dato)
                consultarJsonEncuesta()
                CargarGrid()
            }
        });
    }
    function GuardarInformacionItem() {

        jsonInfoGeneral.NOMBRE = $("#txtNombreOficial").text();
        var jsonOficial = JSON.stringify(jsonInfoGeneral)

        var jGeo = JSON.stringify(jsonGeometriaGuardar)
        onLoad("tabMapa");
        $.ajax({
            type: "POST",
            url: '@Url.Action("GuardarInformacionItem", "OcupacionCause")',
            data: { jsonInfo: jsonOficial, idFormulario: $("#txtForm").val(), jsonGeo: jGeo },
            beforeSend: function () { },
            success: function (response) {
                var arrResp = response.split("-");
                if (arrResp[0] == "Ok") {
                    mensajeAlmacenamiento("Almacenamiento Exitoso");
                    $("#Tab3").css('display', 'block');
                    $("#Tab4").css('display', 'block');
                    $("#Tab5").css('display', 'block');
                    $("#Tab6").css('display', 'block');
                    if ($("#txtidEstadoBase").val() == "-1" || tipoV == "D") {
                        CrearEstadoItemUni()
                    }


                } else {
                    mensajeAlmacenamiento("Error al almacenar la informacion")
                }
                offLoad("tabMapa");



            }
        });



    }
    function GuardarUbicacion(num) {
        if (num == 1) {
            GuardarInformacionItem()
        } else if (num == 2) {
        } else if (num == 3) {
            guardarDetalle();
        } else if (num == 5) {
            guardarEncuesta()
        }
    }
    function rtaUbiPoint(rta) {
        objetoMapgis.noDraw();
        $("#txtX").val(rta.x);
        $("#txtY").val(rta.y);
        $("#ubicarpuntobtn")[0].title = "Reubicar punto";
        offLoad("tabUbicacion");
    }
    function consultarJsonEncuesta() {
        onLoad("tabAdicional");
        $.ajax({
            type: "POST",
            url: '@Url.Action("consultarJsonEncuestas", "OcupacionCause")',
            data: { idEstado: $("#txtidEstadoBase").val(), form: $("#txtForm").val() },
            beforeSend: function () { },
            success: function (response) {
                if (response != "[]") {
                    jsonEncuestas = eval('(' + response + ')');
                    var html = consultarEncuestas(jsonEncuestas);
                    $("#acordionEncuestaPrincipal").remove();
                    $("#acordionEncuestaGeneral").append(html);
                    offLoad("tabAdicional");
                } else {
                    $("#Tab5").css('display', 'block');
                    offLoad("tabAdicional");
                }

            }
        });
    }
    function guardarEncuestaOficial() {
        $('#btnGuardar3').attr('disabled', true);
        onLoad("tabAdicional");
        var jsonOficial = JSON.stringify(jsonEncuestas)
        $.ajax({
            type: "POST",
            url: '@Url.Action("GuardarInformacionEncuesta", "AguasSuperficiales")',
            data: { jsonInfo: jsonOficial, form: $("#txtForm").val(), idCapEstado: $("#txtidEstadoBase").val() },
            beforeSend: function () { },
            success: function (response) {
                //$('#btnGuardar3').attr('disabled', false);
                if (response == "Ok") {
                    consultarJsonEncuesta();

                    mensajeAlmacenamiento("Almacenamiento Exitoso");
                    offLoad("tabAdicional");

                } else {
                    mensajeAlmacenamiento("Error al almacenar la informacion Encuesta")
                    offLoad("tabAdicional");
                }

                setTimeout(function () { $('#btnGuardar3').attr('disabled', false); }, 10000);

            }
        });

    }

    function abrirFotos() {
        $("#pantallaCargarImg").dialog(
        {

            width: 500,
            height: 200,
            modal: true
        });
        $("#pantallaCargarImg #fotos").attr("src", "@Url.Content("~/ControlVigilancia/Visitas/cargarImagenForm")");

    }
    function llenarCarrusel(datos) {

        guardarFotosQuejas(datos);
    }
    function llenarCarrusel2(datos) {
        onLoad("tabFotos");
        setTimeout(function () {
            if (Totalimg.length == 0) {
                Totalimg = datos;
            } else {
                for (var i = 0; i < datos.length; i++) {
                    Totalimg.push(datos[i]);
                }
            }

            var html = "";
            var cantidaDatos = 0;
            $("#carousel .caroufredsel_wrapper").remove();
            html += ' <ul id="Carusel1">';

            for (var j = 0; j < Totalimg.length; j++) {

                html += ' <li ><button class="btnimgedit"  onclick="eliminar(\'' + Totalimg[j].id + '\')"></button><img src="' + Totalimg[j].url + '" alt="' + Totalimg[j].nombre + '" title="' + Totalimg[j].etiqueta + '" id="' + Totalimg[j].id + '" ><label class="texto">' + Totalimg[j].etiqueta + '</label></li>';

            }
            html += "</ul>";
            offLoad("tabFotos");
            $("#carousel").append(html);
            $('#carousel ul').carouFredSel({
                auto: false,
                prev: '#prev',
                next: '#next',
                pagination: "#pager2",
                mousewheel: true,

                swipe: {
                    onMouse: true,
                    onTouch: true
                }
            });
        }, 3000);
    }
    function guardarFotos(d) {

    }

    function guardarFotosQuejas(arrfotos) {


        var datos = "";
        for (var i = 0; i < arrfotos.length; i++) {
            if (arrfotos.length - 1 == i) {
                datos += arrfotos[i].id;
            } else {
                datos += arrfotos[i].id + ',';
            }

        }
        onLoad("tabFotos");

        $.ajax({
            type: "GET",
            url: "@Url.Content("~/ControlVigilancia/api/VisitasWebAPI/GetGuardarFotografiasForm")",
            data: {
                captacionestado: $("#txtidEstadoBase").val(), idFotos: datos, tabla: $("#txttblFotos").val(), idForm: $("#txtForm").val()
            },
            beforeSend: function () {

            },
            success: function (response) {
                var dato = response;
                consultarFotos();
                offLoad("tabFotos");

            },
        });
    }
    function eliminar(nombre) {
        datos = $("#" + nombre)[0];
        nombreFoto = "";
        idFotografia = "";
        etiqueta = "";
        idFotografia = datos.id;
        nombreFoto = datos.alt;
        etiqueta = datos.title;
        abrirEliminarFotos();
    }
    function abrirEliminarFotos() {
        $("#pantallaEliminarFoto").dialog(
        {

            width: 288,
            height:360,
            modal: true
        });
        $("#frEliminarFoto").attr("src", "@Url.Content("~/ControlVigilancia/Visitas/EliminarFotoForm")");
    }

    function AgregarEtiqueta(etiq, palabra) {
        $.ajax({
            type: "GET",
            url: "@Url.Content("~/ControlVigilancia/api/VisitasWebAPI/AgregarEtiqueta")",
            data: {
                p_idFotografia: idFotografia, etiqueta: etiq, palabra: palabra
            },
            beforeSend: function () {

            },
            success: function (response) {
                var dato = response;
                consultarFotos();
            },
        });

    }

    function CargarGrid() {

        $.ajax({
            type: "GET",
            url: "@Url.Content("~/Documento/api/DocumentoWebAPI/GetConsultarDocumentoAdjunto")",
            data: { idFormulario: $("#txtForm").val(), idEstado: $("#txtidEstadoBase").val() },
            success: function (result) {
                var datos = eval(result);
                gridDocumento(datos);

            }
        });

    }




    function gridDocumento(datos) {
        $(function () {
            $("#GrdDocumentoAdjunto").dxDataGrid({
                dataSource: datos,
                searchPanelPlaceholder: "Buscar",
                selection: {
                    mode: 'single'
                },
                columns: [
                       { dataField: 'S_ARCHIVO', caption: 'Archivo', allowGrouping: true, width: '60%', dataType: 'string' },
                 {
                     dataField: 'EDITARVISITA', allowGrouping: true, caption: 'Ver Documento', width: '20%', cellTemplate: function (container, options) {
                         container.height(5);
                         $('<img src="@Url.Content("../../Content/Images/EditarVisita.png")" style="width:25px;height:25px" />')

                                     .attr('src', options.value)
                                     .appendTo(container);
                     }
                 },

             {
                 dataField: 'EliminarDocumento', allowGrouping: true, caption: 'Eliminar Documento', width: '20%', cellTemplate: function (container, options) {
                     container.height(5);
                     $('<img src="@Url.Content("../../Content/Images/delete.png")" style="width:25px;height:25px" />')

                                 .attr('src', options.value)
                                 .appendTo(container);
                 }
             }
                ], onCellClick: function (e) {
                    var id = e.data.ID_DOCUMENTO;
                    IdEliminar = e.data.ID_DOCUMENTO;
                    urlDoc = e.data.URL;
                    var tipoBoton = e.columnIndex;

                    switch (tipoBoton) {
                        case 1: //ver
                            VerDocumento();
                            break;
                        case 2: //eliminar
                            EliminarDocumentoBD();
                            break;


                    }

                },
                allowColumnReordering: true,

                loadPanel: {
                    height: 100,
                    width: 100,
                    text: 'Cargando...'
                },
                sorting: { mode: 'multiple' },
                groupPanel: { visible: false, emptyPanelText: 'Arrastre una columna aquí para agrupar por dicha columna' },
                pager: { visible: true },
                paging: { pageSize: 7 },
                filterRow: {
                    visible: false,
                    applyFilter: "auto"
                },
                searchPanel: { visible: true, placeholder: 'Buscar...' },
            }).dxDataGrid('instance');
        });


    }
    function abrirDocumento() {
        $("#pantallaCargarDocumentoAdjunto").dialog(
        {

            width: 288,
            height: 240,
            modal: true
        });
        $("#DocumentoAdjunto").attr("src", "@Url.Content("~/Documento/Documento/CargarDocumentoAdjunto")");

    }

    function EliminarDocumentoBD() {
        if (confirm("¿Esta seguro en Eliminar el documento?")) {
            $.ajax({
                type: "GET",
                url: "@Url.Content("~/Documento/api/DocumentoWebAPI/EliminarDocumentoAdjunto")",
                data: {
                    id_Doc: IdEliminar, idForm: $("#txtForm").val()
                },
                beforeSend: function () {

                },
                success: function (response) {
                    var dato = response;
                    CargarGrid();
                },
            });
        } else {
            return false;
        }

    }
    function guardarDocumentoAdjunto(arrDocumentoAdjunto) {
        var datos = "";
        for (var i = 0; i < arrDocumentoAdjunto.length; i++) {
            if (arrDocumentoAdjunto.length - 1 == i) {
                datos += arrDocumentoAdjunto[i].id;
            } else {
                datos += arrDocumentoAdjunto[i].id + ',';
            }

        }

        $.ajax({
            type: "GET",
            url: "@Url.Content("~/Documento/api/DocumentoWebAPI/GetGuardarDocumentoAdjunto")",
            data: {
                idDocumentoAdjunto: datos, idFormulario: $("#txtForm").val(), idEstado: $("#txtidEstadoBase").val()
            },
            beforeSend: function () {

            },
            success: function (response) {
                CargarGrid();



            },

        });

    }

    function VerDocumento()
    {

        window.open(urlDoc);
    }
    function consultarFotos() {
        onLoad("tabFotos");
        $.ajax({
            type: "POST",
            url: '@Url.Action("ConsultarFotografiasForm", "AguasSuperficiales")',

            data: {
                idForm: $("#txtForm").val(), tabla: $("#txttblFotos").val(), idEstado: $("#txtidEstadoBase").val()
            },
            beforeSend: function () {
                offLoad("tabFotos");
            },
            success: function (response) {
                var dato = eval('(' + response + ')');

                Totalimg = [];
                if (dato.length > 0) {
                    var objDatos = new Object();
                    for (var i = 0; i < dato.length; i++) {
                        objDatos = new Object();
                        //objDatos['url'] = dato[i].URL;
                        objDatos['url'] = '@Url.Content("~/ControlVigilancia/api/VisitasWebAPI/ObtenerFotografia")/' + dato[i].ID_FOTOGRAFIA;
                        objDatos['etiqueta'] = dato[i].S_ETIQUETA;
                        objDatos['id'] = dato[i].ID_FOTOGRAFIA;
                        objDatos['nombre'] = dato[i].S_ARCHIVO;

                        Totalimg.push(objDatos);
                    }


                    offLoad("tabFotos");

                }
                offLoad("tabFotos");
                llenarCarrusel2('')
            },
        });

    }
    function EliminarFotoVisitaBD() {
        if (confirm("¿Esta seguro en Eliminar la foto?")) {
            onLoad("tabFotos");
            $.ajax({
                type: "POST",
                url: '@Url.Action("eliminarFotoForm", "AguasSuperficiales")',
               data: {
                   idfoto: idFotografia, tabla: $("#txttblFotos").val()
               },
               beforeSend: function () {

               },
               success: function (response) {
                   var dato = response;
                   var arrFotos = [];
                   var objDato = new Object();
                   for (var i = 0; i < Totalimg.length; i++) {
                       objDato = new Object();
                       if (Totalimg[i].id != idFotografia) {
                           objDato['url'] = Totalimg[i].url;
                           objDato['etiqueta'] = Totalimg[i].etiqueta;
                           objDato['id'] = Totalimg[i].id;
                           arrFotos.push(objDato);
                           offLoad("tabFotos");
                       }
                   }
                   Totalimg = arrFotos;

                   consultarFotos();


               },
           });
           } else {
               return;
           }

       }

            var usuario = "135";
            var map=null;
            var srid = 4326;
            function listener(nombre, parametros) {
                parametros = parametros.replace("$us$", usuario);
                eval(nombre + '(' + parametros + ' )')
            }
            function conectar() {

                map = new MapGIS("mapa");
                var rta = map.initMapGIS(listener);
                return rta;
            }
            function PintarLinea() {
                conectar()
                onLoad("tabUbicacion");
                map.drawPolyline(L_resp, 80, 250, 28, "Linea", srid);
            }
            function L_resp(resp) {
                map.noDraw();
                var coor = resp.paths[0];
                jsonGeometriaGuardar = new Array();
                for (var i = 0; i < coor.length; i++) {
                    var jsonGeometria = new Object();
                    jsonGeometria.X = coor[i][0];
                    jsonGeometria.Y = coor[i][1];
                    jsonGeometriaGuardar[i] = jsonGeometria;
                }
                offLoad("tabUbicacion");
                $("#btnGuardar1").prop("disabled", false);

            }
            function ocultarlinea(t) {
                if (t) {
                    $("#btnPintarlinea").show()
                } else {
                    $("#btnPintarlinea").hide()
                }

            }

            function mensajeAlmacenamiento(mensaje) {
                $("#msText").text(mensaje);


                $("#msAlmacenamiento").dialog({

                    buttons: [
              {
                  text: "Aceptar",

                  click: function () { $(this).dialog("close"); },

                  class: "btn btn-default "
              },
                    ]
                });


            }
         
             function Ayudas() {

            var tabmapa = document.getElementById('Tab1');
           
            var tabAdicional = document.getElementById('Tab3');
            var tabFoto = document.getElementById('Tab4');
          
            var tabArchivo = document.getElementById('Tab6');

            if (tabmapa.className == 'active') {

                window.open("@Url.Content("~/Ayudas/Ayudas/Ayudas?Id_Ayuda=")" + 29);

            }
            else if (tabAdicional.className == 'active') {
                // moverAyudas(1);
                window.open("@Url.Content("~/Ayudas/Ayudas/Ayudas?Id_Ayuda=")" + 32);
            }
            else if (tabFoto.className == 'active') {
                // moverAyudas(2);
                window.open("@Url.Content("~/Ayudas/Ayudas/Ayudas?Id_Ayuda=")" + 30);
            }
            else if (tabArchivo.className == 'active') {
                // moverAyudas(2);
                window.open("@Url.Content("~/Ayudas/Ayudas/Ayudas?Id_Ayuda=")" + 31);
            }
          

        }
        </script>
        <style>
            .labelUnico {
                margin-bottom: 17px;
                width: 0px;
                text-align: center;
                font-size: 13px;
                position: relative;
                left: 14px;
            }

            .informacionUbicacion button {
                top: 0px;
                left: 0px;
                margin-top: 0px;
                float: left;
            }
            label.TextoDescriptivoF {
                top: -12px;
                position: relative;
                left: 13px;
            }
            button#btnGuardar1 {
                margin-left: 11px;
                margin-right: 0px;
            }
        </style>
 
        <div id="divNombreCaptacion">
            <div id="div_tipofor">@ViewBag.txtNombref</div>
            <div id="div_nom_1" class="nombretitle">
                <label id="txtNombreOficial">Ocupación cauce(nuevo)</label><button type="button" class="btn btn-default" aria-label="Left Align" onclick="nombreOpcion(1)">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </button>
            </div>
            <div id="div_nom_2" class="nombretitle" style="display:none">
                <input type="text" id="txtNombreTemp" value="Ocupación cauce(nuevo)" / style="width: 220px !important;"><button type="button" class="btn btn-default " onclick="nombreOpcion(2)">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </button>
            </div>
            <label id="texttoempresa"> Instalación: <br /></label>

        </div>
        <div class="container contenedorcentro ">
            <div style="position:absolute;top:0px;z-index:9999;display:none">
                <input type="text" id="txtidItem" value="">
                <input type="text" id="txtidEstadoBase" value="">
                <input type="text" id="txturlMapa" value="">
                <input type="text" id="txttblFotos" value="">
                <input type="text" id="txtForm" value="">
                <input type="text" id="txtidVisita" value="">
                <input type="text" id="txtVisita" value="">
                <input type="text" id="txtinstalacion" value="">
                <input type="text" id="txttercero" value="">
                <input type="text" id="txttblEstados" value="">
                </div>
                <div id="pantallaCargarImg" title="Cargar imagen" style="display: none;">
                    <iframe src="" id="fotos" width="100%" height="100%"></iframe>
                </div>
                <!--Dialog informacion ubicacion-->
                <div id="dialogAyuda" title="Ayuda" style="display:none">
                    <div class="col-md-12 " id="ContenidoAyuda">

                    </div>
                </div>
                <!--dialog de observacion-->
                <div id="dialogObservacion" title="Observación" style="display:none">
                    <div class="col-md-12 " id="ContenidoObservacion">

                    </div>
                </div>
            <div id="pantallaEliminarFoto" title="Detalle Fotografía" style="display: none; overflow: hidden;">
                <iframe src="" id="frEliminarFoto" width="100%" height="100%"></iframe>


            </div>
                <div id="pantallaCargarDocumentoAdjunto" title="Cargar Documento" style="display: none;">
                    <iframe src="" id="DocumentoAdjunto" width="100%" height="100%"></iframe>
                </div>

                <div id="pantallaEliminarDocumento" title="Eliminar Documento" style="display: none; overflow: hidden;">
                    <iframe src="" id="frEliminarDocumento" width="100%" height="100%"></iframe>
                </div>
            <div class="col-sm-12" style="margin-top: 39px; margin-bottom: -6px;">
                <div class="panel panel-default" style="padding-bottom: 0px">
                    <div class="panel-heading">
                        <h3 class="panel-title"></h3>
                        <div class="subContenedor">
                            <!--contenedor tab-->
                            <div style="padding: 15px">
                                <img src="../../Content/Images/Ayuda.png" id="btnAyudas" onclick="Ayudas()"></>
                                <ul class="nav nav-tabs">
                                    <li id="Tab1" class="active"><a href="#tabMapa" onclick="CambiarGuardarbtn(1);ocultarlinea(true)" data-toggle="tab">Mapa</a></li>
                                    <li id="Tab3"><a href="#tabAdicional" onclick="CambiarGuardarbtn(3); ocultarlinea(false);" data-toggle="tab">Detalle</a></li>
                                    <li id="Tab4"><a href="#tabFotos" onclick="CambiarGuardarbtn(4); ocultarlinea(false)" data-toggle="tab">Fotos</a></li>
                                    <li id="Tab6"><a href="#tabArchivo" onclick="CambiarGuardarbtnA(6)" data-toggle="tab">Archivo</a></li>

                                 </ul>
                            </div>
                            <div class="tab-content" id="myTabContent">
                                <!--TabMapa-->
                                <div class="tab-pane fade  active in" id="tabMapa">
                                 
                                    <div class="col-md-12 mapacont1">
                                        <iframe id="mapa" style="width: 100%; height: 350px; overflow: hidden; border: none; " src="@ViewBag.txturlMapa"></iframe>
                                    </div>
                                </div>
                            
                            <!--fin tab Ubicacion-->
                            <!--inicio tabDetalle-->
                            <div id="tabDetalle" class="tab-pane fade ">
                                <!--Inicio Acordion -->
                                <div class="col-md-12" id="acordionDetalleGeneral">
                                    <!--Nivel1-->
                                    <div class="panel-group acordeonVerde " id="acordionDetallePrincipal">
                                    </div>
                                </div>
                            </div>
                            <!--fin tab usos-->
                            <!--inicio tabFotografia-->
                            <div id="tabFotos" class="tab-pane fade ">
                                <!--carusel-->
                                <div class="col-sm-12">
                                    <label class="TextoDescriptivoF">
                                        Para agregar imagenes  en esta pestaña, selecciona el botón cargar fotos.
                                    </label>
                                    <div id="carousel">
                                        <div class="clearfix"></div>
                                        <a id="prev" class="prev" href="#">&lt;</a>
                                        <a id="next" class="next" href="#">&gt;</a>
                                        <div id="pager" class="pager"></div>
                                    </div>
                                    <!-- /#myCarousel -->
                                </div>
                            </div>
                            <!--inicio tabAdicional-->
                            <div id="tabAdicional" class="tab-pane fade ">
                                <div class="col-md-12" id="acordionEncuestaGeneral">
                                    <!--Nivel1-->
                                    <div class="panel-group acordeonVerde " id="acordionEncuestaPrincipal">
                                    </div>
                                </div>
                            </div>
                            <!---------------------------->
                                <!---------------------------->
                                <div id="tabArchivo" class="tab-pane fade ">
                                    <label class="TextoDescriptivoF">
                                        Para agregar Archivos  en esta pestaña, selecciona el botón cargar documento
                                    </label>
                                    <div id="GrdDocumentoAdjunto" class="archivosDiv"></div>

                                </div>
                                <!---------------------------->
                        </div>
                    </div>
                </div>
                <div class="actionBar">
                  
                    <button type="button" id="btnCerra" class="btn btn-default btn-sm" onclick="cerrarPestala()">Cerrar</button>
                    <button type="button" id="btnGuardar1" class="btn btn-default btn-sm" onclick="GuardarUbicacion(1)">Guardar Mapa</button>
                    <button class="btn btn-default btn-sm" onclick="PintarLinea()" id="btnPintarlinea">Dibujar Linea</button>
                     <button type="button" style="display:none" id="btnGuardar2" class="btn btn-default btn-sm" onclick="GuardarUbicacion(2)">Guardar</button>
                    <button type="button" style="display:none" id="btnGuardar3" class="btn btn-default btn-sm" onclick="GuardarUbicacion(5)">Guardar Detalle</button>
                    <button class="btn btn-default btn-sm" style="display:none" onclick="abrirFotos()" id="btnCargarFoto">Cargar Fotos</button>
                    <button class="btn btn-default" style="display:none" onclick="abrirDocumento()" id="btnCargarDocumento">Cargar Documento</button>

                    <button type="button" style="display:none" id="btnGuardar5" class="btn btn-default btn-sm" onclick="GuardarUbicacion(5)">Guardar Adicional</button>
                </div>
            </div>
        </div>
        <!--Fin TabUbicacion-->
        </div>
      <!--fin contenedor tab-->
      <!----------------------------->
        <!------------------------->
        </div>
        </div>
        </div>
        </div>
        </div>

        <div id="msAlmacenamiento" title="Información" style="display:none">
            <p style="color: #000000; font-size: 14px; font-weight: bold; margin-top: 10px; margin-left: 38px;" id="msText"></p>
        </div>
