@model SIM.Data.Poeca.DPOEAIR_MEDIDA

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DPOEAIR_MEDIDA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.S_NOMBRE_MEDIDA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S_NOMBRE_MEDIDA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.S_DESCRIPCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S_DESCRIPCION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.B_OBLIGATORIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.B_OBLIGATORIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_RESPONSABLE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_RESPONSABLE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
