@model SIM.Data.Poeca.TPOEAIR_ACCIONES_PLAN

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TPOEAIR_ACCIONES_PLAN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DPOEAIR_NIVEL.S_NOMBRE_NIVEL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DPOEAIR_NIVEL.S_NOMBRE_NIVEL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DPOEAIR_PRODUCTO.S_NOMBRE_PRODUCTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DPOEAIR_PRODUCTO.S_NOMBRE_PRODUCTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TPOEAIR_MEDIDA_ACCION.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TPOEAIR_MEDIDA_ACCION.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TPOEAIR_PERIODICIDAD.S_NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TPOEAIR_PERIODICIDAD.S_NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TPOEAIR_PLAN.N_RADICADO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TPOEAIR_PLAN.N_RADICADO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_TERCEROS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_TERCEROS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.N_META_PROPUESTA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.N_META_PROPUESTA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.S_RESPONSABLE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S_RESPONSABLE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.S_RECURSOS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S_RECURSOS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.N_VALORACION_ECONOMICA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.N_VALORACION_ECONOMICA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.D_FECHA_CREACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.D_FECHA_CREACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_RESPONSABLE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_RESPONSABLE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.S_OBSERVACIONES)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S_OBSERVACIONES)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
