@model SIM.Areas.Encuestas.Models.PREGUNTA

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PREGUNTA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.S_NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S_NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.D_INICIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.D_INICIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.D_FIN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.D_FIN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.S_CAMPORESPUESTA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S_CAMPORESPUESTA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIPO_PREGUNTA.S_NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIPO_PREGUNTA.S_NOMBRE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_PREGUNTA }) |
    @Html.ActionLink("Back to List", "Index")
</p>
