@model PERSONAL_DGA
@using SIM.Data.General
@using System.Web.UI.WebControls

<script type="text/javascript">
    function OnTextChangedDoc(s, e) {
        cambioDoc = true;
    }

    function OnKeyDownDoc(s, e) {
        if (e.htmlEvent.keyCode == 13) {
            ReloadPersona();
        }
    }

    function OnLostFocusDoc(s, e) {
        var N_DOCUMENTON = ASPxClientControl.GetControlCollection().GetByName('TERCERO.N_DOCUMENTON'); var N_DIGITOVER = ASPxClientControl.GetControlCollection().GetByName('TERCERO.N_DIGITOVER'); ObtenerDV(N_DOCUMENTON, N_DIGITOVER);
        if (cambioDoc)
            ReloadPersona();
    }

    function ReloadPersona() {
        var personaTipoDoc = ASPxClientControl.GetControlCollection().GetByName("TERCERO.ID_TIPODOCUMENTO");
        var personaDoc = ASPxClientControl.GetControlCollection().GetByName("TERCERO.N_DOCUMENTON");

        if (personaDoc != '' && personaDoc.GetIsValid()) {
            ProcessPanelTerceroDGA.Show();

            $.ajax({
                type: "POST",
                url: '@Url.Action("frmAdministrarTerceroDGA", "Tercero")',
                data: { tipodoc: personaTipoDoc.GetValue(), documento: personaDoc.GetText(), idDGA: '@Model.ID_DGA'},
                success: function (response) {
                    if (response != '')
                        $("#terceroDGADetalles").html(response);

                    ProcessPanelTerceroDGA.Hide();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    ProcessPanelTerceroDGA.Hide();
                    alert("Status: " + textStatus); alert("Error: " + errorThrown);
                }
            });
        }
        cambioDoc = false;
    }

    function SeleccionRegistroAE(s, e) {
        gvwActividadesEconomicas.GetSelectedFieldValues('ID_ACTIVIDADECONOMICA;S_CODIGO;S_NOMBRE', OnSelectRowAE);
    }

    function OnSelectRowAE(Value) {
        ID_ACTIVIDADECONOMICA.SetText(Value[0][0]);
        cboAE.SetText(Value[0][2] + ' (' + Value[0][1] + ')');
        cboAE.HideDropDown();
    }

    function SeleccionRegistroTLAE(s, e) {
        s.GetNodeValues(e.nodeKey, 'ID_ACTIVIDADECONOMICA;S_NOMBRE', OnSelectRowTLAE);
    }

    function OnSelectRowTLAE(Value) {
        ID_ACTIVIDADECONOMICA.SetText(Value[0]);
        cboAE.SetText(Value[1]);
        cboAE.HideDropDown();
    }

    function ObtenerDV(campoNumero, campoDV) {
        nume = parseInt(campoNumero.GetValue());
        if (nume >= 1)
            ceros = "00000000000000";
        if (nume >= 10)
            ceros = "0000000000000";
        if (nume >= 100)
            ceros = "000000000000";
        if (nume >= 1000)
            ceros = "00000000000";
        if (nume >= 10000)
            ceros = "0000000000";
        if (nume >= 100000)
            ceros = "000000000";
        if (nume >= 1000000)
            ceros = "00000000";
        if (nume >= 10000000)
            ceros = "0000000";
        if (nume >= 100000000)
            ceros = "000000";
        if (nume >= 1000000000)
            ceros = "00000";
        if (nume >= 10000000000)
            ceros = "0000";
        if (nume >= 100000000000)
            ceros = "000";
        if (nume >= 1000000000000)
            ceros = "00";
        if (nume >= 10000000000000)
            ceros = "0";
        if (nume >= 100000000000000)
            ceros = "";

        li_peso = new Array();
        li_peso[0] = 71;
        li_peso[1] = 67;
        li_peso[2] = 59;
        li_peso[3] = 53;
        li_peso[4] = 47;
        li_peso[5] = 43;
        li_peso[6] = 41;
        li_peso[7] = 37; //8
        li_peso[8] = 29; //3
        li_peso[9] = 23; //0
        li_peso[10] = 19; //1
        li_peso[11] = 17; //2
        li_peso[12] = 13; //0
        li_peso[13] = 7; //9
        li_peso[14] = 3; //9

        ls_str_nit = ceros + campoNumero.GetValue();
        li_suma = 0;
        for (i = 0; i < 15; i++) {
            li_suma += ls_str_nit.substring(i, i + 1) * li_peso[i];
        }
        digito_chequeo = li_suma % 11;
        if (digito_chequeo >= 2)
            digito_chequeo = 11 - digito_chequeo;

        campoDV.SetText(digito_chequeo);
    }
</script>
@Html.DevExpress().LoadingPanel(settings =>
{
    settings.Name = "ProcessPanelTercero";
    settings.Modal = true;
    settings.Text = "Procesando Tercero";
}).GetHtml()
<div class="panel panel-default" style="padding-bottom:10px">
    <div class="panel-heading">
        <h3 class="panel-title">
            <label>Profesional DGA</label>
        </h3>
    </div>
    @using (Html.BeginForm("TerceroDGAUpdate", "Tercero", FormMethod.Post, new { name = "frmTercero", id = "frmTercero" }))
    {
        @Html.DevExpress().TextBoxFor(model => Model.ID_PERSONALDGA, settings =>
        {
            settings.ClientVisible = false;
        }).GetHtml();

        @Html.DevExpress().TextBoxFor(model => Model.ID_DGA, settings =>
        {
            settings.ClientVisible = false;
        }).GetHtml();

        @Html.DevExpress().RoundPanel(settingsRP =>
        {
            settingsRP.Name = "rpInformacionBasica";
            settingsRP.EncodeHtml = false;
            settingsRP.HeaderText = "Informaci&oacute;n B&aacute;sica";
            settingsRP.EnableTheming = true;
            settingsRP.View = DevExpress.Web.ASPxRoundPanel.View.Standard;
            settingsRP.Width = Unit.Percentage(100);
            settingsRP.Style.Add("padding-left", "15px");
            settingsRP.Style.Add("padding-right", "15px");
            settingsRP.Style.Add("padding-top", "10px");
            settingsRP.Style.Add("padding-botom", "10px");

            settingsRP.SetContent(() =>
                {
                    // Primera línea de Información Básica
                    ViewContext.Writer.Write("<div class=\"row\" style=\"padding:5px\">");
                    ViewContext.Writer.Write("<div class=\"col-md-1\">");
                    Html.DevExpress().Label(settings =>
                    {
                        settings.EncodeHtml = false;
                        settings.Text = "Identificaci&oacute;n:";
                    }).GetHtml();
                    ViewContext.Writer.Write("</div>");

                    ViewContext.Writer.Write("<div class=\"col-md-3\">");
                    ViewContext.Writer.Write("<div style=\"width:25%; float:left\">");
                    Html.DevExpress().ComboBoxFor(model => Model.TERCERO.ID_TIPODOCUMENTO, settings =>
                    {
                        settings.Width = 60;
                        settings.Properties.DropDownWidth = 290;
                        settings.Properties.DropDownStyle = DropDownStyle.DropDownList;
                        settings.Properties.TextFormatString = "{0}";
                        settings.Properties.ValueField = "ID_TIPODOCUMENTO";
                        //settings.Properties.TextField = "S_ABREVIATURA";
                        settings.Properties.ValueType = typeof(int);
                        settings.Properties.ValidationSettings.RequiredField.IsRequired = true;
                        settings.Properties.ValidationSettings.RequiredField.ErrorText = "Tipo Documento Requerido";

                        //settings.Properties.Columns.Add("ID_TIPODOCUMENTO", "ID", 20);
                        settings.Properties.Columns.Add("S_ABREVIATURA", "Abr", 50);
                        settings.Properties.Columns.Add("S_NOMBRE", "Descripci&oacute;n", 240);
                    }).BindList(ModelsToListGeneral.GetTiposDocumentoNatural()).GetHtml();
                    ViewContext.Writer.Write("</div>");
                    ViewContext.Writer.Write("<div style=\"width:55%; float:left; padding-left:3%\">");
                    Html.DevExpress().TextBoxFor(model => Model.TERCERO.N_DOCUMENTON, settings =>
                    {
                        settings.Width = Unit.Percentage(100);//150;
                        settings.Properties.ClientSideEvents.LostFocus = "function(s, e) {  }";
                        settings.Properties.ValidationSettings.RequiredField.IsRequired = true;
                        settings.Properties.ValidationSettings.RequiredField.ErrorText = "Documento Requerido";
                        settings.Properties.ValidationSettings.RegularExpression.ValidationExpression = "\\d+";
                        settings.Properties.ValidationSettings.RegularExpression.ErrorText = "Documento Inválido";
                        settings.Properties.ClientSideEvents.TextChanged = "OnTextChangedDoc";
                        settings.Properties.ClientSideEvents.KeyDown = "OnKeyDownDoc";
                        settings.Properties.ClientSideEvents.LostFocus = "OnLostFocusDoc";
                    }).GetHtml();
                    ViewContext.Writer.Write("</div>");
                    ViewContext.Writer.Write("<div style=\"width:10%; float:left\">");
                    Html.DevExpress().Label(settings =>
                    {
                        settings.Text = "DV:";
                        settings.Width = Unit.Percentage(100); //30;
                        settings.Style.Add("padding", "3px 3px 2px 3px");
                    }).GetHtml();
                    ViewContext.Writer.Write("</div>");
                    ViewContext.Writer.Write("<div style=\"width:10%; float:left\">");
                    Html.DevExpress().TextBoxFor(model => Model.TERCERO.N_DIGITOVER, settings =>
                    {
                        settings.Width = Unit.Percentage(100); //30;
                        settings.ReadOnly = true;
                    }).GetHtml();
                    ViewContext.Writer.Write("</div>");
                    ViewContext.Writer.Write("</div>");
                    ViewContext.Writer.Write("<div class=\"col-md-2\">");
                    Html.DevExpress().Label(settings =>
                    {
                        settings.EncodeHtml = false;
                        settings.Text = "Fecha de Nacimiento:";
                    }).GetHtml();
                    ViewContext.Writer.Write("</div>");
                    ViewContext.Writer.Write("<div class=\"col-md-2\">");
                    Html.DevExpress().DateEditFor(model => Model.TERCERO.NATURAL.D_NACIMIENTO, settings =>
                    {
                        settings.Properties.DisplayFormatString = "yyyy/MM/dd";
                        settings.Width = Unit.Percentage(100);
                    }).GetHtml();
                    ViewContext.Writer.Write("</div>");
                    ViewContext.Writer.Write("</div>");

                    // Segunda línea de Información Básica
                    ViewContext.Writer.Write("<div class=\"row\" style=\"padding:5px\">");
                    ViewContext.Writer.Write("<div class=\"col-md-1\">");
                    Html.DevExpress().Label(settings =>
                    {
                        settings.EncodeHtml = false;
                        settings.Text = "Nombres:";
                    }).GetHtml();
                    ViewContext.Writer.Write("</div>");
                    ViewContext.Writer.Write("<div class=\"col-md-3\">");
                    Html.DevExpress().TextBox(settings =>
                    {
                        settings.Name = "txtNombres";
                        settings.Width = Unit.Percentage(100);
                        settings.Text = (Model.TERCERO == null || Model.TERCERO.NATURAL == null ? "" : Model.TERCERO.NATURAL.S_NOMBRE1.Trim() + (Model.TERCERO == null || Model.TERCERO.NATURAL == null || Model.TERCERO.NATURAL.S_NOMBRE2 == null ? "" : " " + Model.TERCERO.NATURAL.S_NOMBRE2.Trim()));
                        settings.Properties.ValidationSettings.RequiredField.IsRequired = true;
                        settings.Properties.ValidationSettings.RequiredField.ErrorText = "Nombres Requerido";
                    }).GetHtml();
                    Html.DevExpress().TextBoxFor(model => Model.TERCERO.NATURAL.S_NOMBRE1, settings =>
                    {
                        settings.ClientVisible = false;
                    }).GetHtml();
                    Html.DevExpress().TextBoxFor(model => Model.TERCERO.NATURAL.S_NOMBRE2, settings =>
                    {
                        settings.ClientVisible = false;
                    }).GetHtml();
                    ViewContext.Writer.Write("</div>");
                    ViewContext.Writer.Write("<div class=\"col-md-1\">");
                    Html.DevExpress().Label(settings =>
                    {
                        settings.EncodeHtml = false;
                        settings.Text = "Apellidos:";
                    }).GetHtml();
                    ViewContext.Writer.Write("</div>");
                    ViewContext.Writer.Write("<div class=\"col-md-3\">");
                    Html.DevExpress().TextBox(settings =>
                    {
                        settings.Name = "txtApellidos";
                        settings.Width = Unit.Percentage(100);
                        settings.Text = (Model.TERCERO == null || Model.TERCERO.NATURAL == null ? "" : Model.TERCERO.NATURAL.S_APELLIDO1.Trim() + (Model.TERCERO == null || Model.TERCERO.NATURAL == null || Model.TERCERO.NATURAL.S_APELLIDO2 == null ? "" : " " + Model.TERCERO.NATURAL.S_APELLIDO2.Trim()));
                        settings.Properties.ValidationSettings.RequiredField.IsRequired = true;
                        settings.Properties.ValidationSettings.RequiredField.ErrorText = "Apellidos Requeridos";
                    }).GetHtml();
                    Html.DevExpress().TextBoxFor(model => Model.TERCERO.NATURAL.S_APELLIDO1, settings =>
                    {
                        settings.ClientVisible = false;
                    }).GetHtml();
                    Html.DevExpress().TextBoxFor(model => Model.TERCERO.NATURAL.S_APELLIDO2, settings =>
                    {
                        settings.ClientVisible = false;
                    }).GetHtml();
                    ViewContext.Writer.Write("</div>");

                    ViewContext.Writer.Write("<div class=\"col-md-4\">");
                    ViewContext.Writer.Write("<div style=\"width:15%; float:left\">");
                    Html.DevExpress().Label(settings =>
                    {
                        settings.EncodeHtml = false;
                        settings.Text = "Genero:";
                    }).GetHtml();
                    ViewContext.Writer.Write("</div>");

                    ViewContext.Writer.Write("<div style=\"width:25%; float:left\">");
                    Html.DevExpress().ComboBoxFor(model => Model.TERCERO.NATURAL.S_GENERO, settings =>
                    {
                        settings.Width = Unit.Percentage(100);
                        settings.Properties.Items.Add(new ListEditItem("Femenino", "F"));
                        settings.Properties.Items.Add(new ListEditItem("Masculino", "M"));
                        settings.Properties.ValueType = typeof(string);
                    }).GetHtml();
                    ViewContext.Writer.Write("</div>");

                    ViewContext.Writer.Write("<div style=\"width:7%; float:left\">&nbsp;</div>");

                    ViewContext.Writer.Write("</div>");
                    ViewContext.Writer.Write("</div>");

                    ViewContext.Writer.Write("<hr style=\"margin:5px; border-color: gainsboro;\" />");

                    // Tercera línea de Información Básica
                    ViewContext.Writer.Write("<div class=\"row\" style=\"padding:5px\">");
                        ViewContext.Writer.Write("<div class=\"col-md-8\">");
                            ViewContext.Writer.Write("<div style=\"width:20%; float:left\">");
                                Html.DevExpress().Label(settings =>
                                {
                                    settings.EncodeHtml = false;
                                    settings.Text = "Actividad Econ&oacute;mica:";
                                    settings.Width = Unit.Percentage(100);
                                }).GetHtml();
                            ViewContext.Writer.Write("</div>");
                            ViewContext.Writer.Write("<div style=\"width:80%; float:left\">");
                                Html.DevExpress().TextBoxFor(model => Model.TERCERO.ID_ACTIVIDADECONOMICA, settings =>
                                {
                                    settings.Width = Unit.Percentage(100);
                                    settings.ClientVisible = false;
                                }).GetHtml();
                                Html.DevExpress().DropDownEdit(settings =>
                                {
                                    settings.Name = "cboAE";
                                    //settings.Width = Unit.Percentage(100);
                                    settings.Width = Unit.Pixel(550);
                                    settings.Text = ViewBag.ActividadEconomica;
                                    settings.ReadOnly = true;

                                    settings.SetDropDownWindowTemplateContent(c =>
                                    {
                                        ViewContext.Writer.Write(Html.Action("gvwSeleccionarActividadEconomica", "ActividadEconomica", new { area = "General" }));
                                        ViewContext.Writer.Write("<table style=\"width:550px\"><tr><td align=\"right\">");

                                        /*ViewContext.Writer.Write("<div style=\"width:550px; height: 250px; overflow:scroll \">");
                                        ViewContext.Writer.Write(Html.Action("tvwSeleccionarActividadEconomica", "ActividadEconomica", new { area = "General" }));
                                        ViewContext.Writer.Write("</div>");*/

                                        Html.DevExpress().Button(
                                            buttonSettings =>
                                            {
                                                buttonSettings.Name = "buttonClose";
                                                buttonSettings.Text = "Cerrar";
                                                buttonSettings.ClientSideEvents.Click = "function(s, e){ cboAE.HideDropDown(); }";
                                            })
                                            .Render();
                                        ViewContext.Writer.Write("</td></tr></table>");
                                    });
                                }).GetHtml();
                            ViewContext.Writer.Write("</div>");
                        ViewContext.Writer.Write("</div>");
                        ViewContext.Writer.Write("<div class=\"col-md-1\">");
                            Html.DevExpress().Label(settings =>
                            {
                                settings.EncodeHtml = false;
                                settings.Text = "Tipo Vinculaci&oacute;n:";
                                settings.Width = Unit.Percentage(100);
                            }).GetHtml();
                        ViewContext.Writer.Write("</div>");
                        ViewContext.Writer.Write("<div class=\"col-md-2\">");
                            Html.DevExpress().ComboBoxFor(model => Model.S_TIPOPERSONAL, settings =>
                            {
                                settings.Width = Unit.Percentage(100);
                                settings.Properties.Items.Add(new ListEditItem("Interno", "I"));
                                settings.Properties.Items.Add(new ListEditItem("Externo", "E"));
                                settings.Properties.ValueType = typeof(string);
                                settings.Properties.ValidationSettings.RequiredField.IsRequired = true;
                                settings.Properties.ValidationSettings.RequiredField.ErrorText = "Tipo Vinculación Requerido";
                            }).GetHtml();
                        ViewContext.Writer.Write("</div>");
                    ViewContext.Writer.Write("</div>");
                    ViewContext.Writer.Write("<hr style=\"margin:5px; border-color: gainsboro;\" />");
                    // Cuarta línea de Información Básica
                    ViewContext.Writer.Write("<div class=\"row\" style=\"padding:5px\">");
                        ViewContext.Writer.Write("<div class=\"col-md-1\">");
                            Html.DevExpress().Label(settings =>
                            {
                                settings.EncodeHtml = false;
                                settings.Text = "Profesi&oacute;n:";
                                settings.Width = Unit.Percentage(100);
                            }).GetHtml();
                        ViewContext.Writer.Write("</div>");
                        ViewContext.Writer.Write("<div class=\"col-md-3\">");
                            Html.DevExpress().ComboBoxFor(model => Model.TERCERO.NATURAL.ID_PROFESION, settings =>
                            {
                                settings.Width = Unit.Percentage(100);
                                settings.Properties.DropDownStyle = DropDownStyle.DropDownList;
                                settings.Properties.ValueType = typeof(decimal);
                                settings.Properties.ValueField = "ID_PROFESION";
                                settings.Properties.TextField = "S_NOMBRE";

                                settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
                            }).BindList(ModelsToListGeneral.GetProfesiones()).GetHtml();
                        ViewContext.Writer.Write("</div>");
                        ViewContext.Writer.Write("<div class=\"col-md-2\">");
                            Html.DevExpress().CheckBoxFor(model => Model.S_ESRESPONSABLE, settings =>
                            {
                                settings.Text = "Es Responsable";
                                settings.Width = Unit.Percentage(100);
                                settings.Properties.ValueType = typeof(string);
                                settings.Properties.ValueChecked = "S";
                                settings.Properties.ValueUnchecked = "N";
                            }).GetHtml();
                        ViewContext.Writer.Write("</div>");
                        ViewContext.Writer.Write("<div class=\"col-md-2\">");
                            ViewContext.Writer.Write("<div style=\"width:70%; float:left\">");
                                Html.DevExpress().Label(settings =>
                                {
                                    settings.EncodeHtml = false;
                                    settings.Text = "% Dedicaci&oacute;n:";
                                }).GetHtml();
                            ViewContext.Writer.Write("</div>");
                            ViewContext.Writer.Write("<div style=\"width:30%; float:left\">");
                                Html.DevExpress().TextBoxFor(model => Model.N_DEDICACION, settings =>
                                {
                                    settings.Width = Unit.Percentage(100);
                                }).GetHtml();
                            ViewContext.Writer.Write("</div>");
                        ViewContext.Writer.Write("</div>");
                        ViewContext.Writer.Write("<div class=\"col-md-3\">");
                            ViewContext.Writer.Write("<div style=\"width:60%; float:left\">");
                                Html.DevExpress().Label(settings =>
                                {
                                    settings.EncodeHtml = false;
                                    settings.Text = "Experiencia en Gesti&oacute;n Ambiental (Meses):";
                                }).GetHtml();
                            ViewContext.Writer.Write("</div>");
                            ViewContext.Writer.Write("<div style=\"width:20%; float:left\">");
                                Html.DevExpress().TextBoxFor(model => Model.N_EXPERIENCIA, settings =>
                                {
                                    settings.Width = Unit.Percentage(100);
                                }).GetHtml();
                            ViewContext.Writer.Write("</div>");
                        ViewContext.Writer.Write("</div>");
                    ViewContext.Writer.Write("</div>");
                    ViewContext.Writer.Write("<hr style=\"margin:5px; border-color: gainsboro;\" />");
                    ViewContext.Writer.Write("<div class=\"row\" style=\"padding:5px\">");
                        ViewContext.Writer.Write("<div class=\"col-md-2\">");
                            Html.DevExpress().Label(settings =>
                            {
                                settings.EncodeHtml = false;
                                settings.Text = "Observaciones:";
                                settings.Width = Unit.Percentage(100);
                            }).GetHtml();
                        ViewContext.Writer.Write("</div>");
                        ViewContext.Writer.Write("<div class=\"col-md-9\">");
                            Html.DevExpress().MemoFor(model => Model.S_OBSERVACION, settings =>
                            {
                                settings.Width = Unit.Percentage(100);
                                settings.Height = Unit.Pixel(100);
                            }).GetHtml();
                        ViewContext.Writer.Write("</div>");
                    ViewContext.Writer.Write("</div>");
                });
        }).GetHtml();
        Html.DevExpress().RoundPanel(settingsRP =>
        {
            settingsRP.Name = "rpInformacionContacto";
            settingsRP.EncodeHtml = false;
            settingsRP.HeaderText = "Informaci&oacute;n de Contacto";
            settingsRP.EnableTheming = true;
            settingsRP.View = DevExpress.Web.ASPxRoundPanel.View.Standard;
            settingsRP.Width = Unit.Percentage(100);
            settingsRP.Style.Add("padding-left", "15px");
            settingsRP.Style.Add("padding-right", "15px");
            settingsRP.Style.Add("padding-top", "10px");
            settingsRP.Style.Add("padding-botom", "10px");

            settingsRP.SetContent(() =>
            {
                ViewContext.Writer.Write("<div class=\"row\" style=\"padding:5px\">");
                ViewContext.Writer.Write("<div class=\"col-md-1\">");
                Html.DevExpress().Label(settings =>
        {
                            settings.EncodeHtml = false;
                            settings.Text = "Tel&eacute;fono:";
                        }).GetHtml();
                ViewContext.Writer.Write("</div>");
                ViewContext.Writer.Write("<div class=\"col-md-2\">");
                Html.DevExpress().TextBoxFor(model => Model.TERCERO.N_TELEFONO, settings =>
        {
                            settings.Width = Unit.Percentage(100);
                        }).GetHtml();
                ViewContext.Writer.Write("</div>");
                ViewContext.Writer.Write("<div class=\"col-md-1\">");
                Html.DevExpress().Label(settings =>
        {
                            settings.EncodeHtml = false;
                            settings.Text = "Correo Electr&oacute;nico:";
                        }).GetHtml();
                ViewContext.Writer.Write("</div>");
                ViewContext.Writer.Write("<div class=\"col-md-5\">");
                Html.DevExpress().TextBoxFor(model => Model.TERCERO.S_CORREO, settings =>
        {
                            settings.Width = Unit.Percentage(100);
                        }).GetHtml();
                ViewContext.Writer.Write("</div>");
                ViewContext.Writer.Write("</div>");
            });
        }).GetHtml();
        Html.DevExpress().RoundPanel(settingsAlmacenar =>
        {
            settingsAlmacenar.Name = "rpAlmacenar";
            settingsAlmacenar.ShowHeader = false;
            settingsAlmacenar.EnableTheming = true;
            settingsAlmacenar.View = DevExpress.Web.ASPxRoundPanel.View.Standard;
            settingsAlmacenar.Width = Unit.Percentage(100);
            settingsAlmacenar.Style.Add("padding-left", "15px");
            settingsAlmacenar.Style.Add("padding-right", "15px");
            settingsAlmacenar.Style.Add("padding-top", "10px");
            settingsAlmacenar.Style.Add("padding-botom", "10px");
            settingsAlmacenar.Style.Add("text-align", "right");

            settingsAlmacenar.SetContent(() =>
            {
                Html.DevExpress().Button(settings =>
                {
                    settings.Name = "btnCancelar";
                    settings.EnableTheming = true;
                    settings.Text = "Cancelar";
                    settings.Width = Unit.Pixel(150);
                    settings.AllowFocus = false;
                    settings.Style.Add("margin-left", "auto");
                    settings.Style.Add("margin-right", "0px");
                    settings.ControlStyle.CssClass = "icq";
                    settings.Styles.Style.HoverStyle.CssClass = "icqHovered";
                    settings.Styles.Style.PressedStyle.CssClass = "icqPressed";
                    settings.UseSubmitBehavior = false;
                    settings.CausesValidation = false;
                    settings.ClientSideEvents.Click = "function(s, e){ CancelarEdicionTercero(); }";
                }).GetHtml();
                ViewContext.Writer.Write("&nbsp;");
                Html.DevExpress().Button(settings =>
                {
                    settings.Name = "btnAlmacenar";
                    settings.EnableTheming = true;
                    settings.Text = "Almacenar";
                    settings.Width = Unit.Pixel(150);
                    settings.AllowFocus = false;
                    settings.Style.Add("margin-left", "auto");
                    settings.Style.Add("margin-right", "0px");
                    settings.ControlStyle.CssClass = "icq";
                    settings.Styles.Style.HoverStyle.CssClass = "icqHovered";
                    settings.Styles.Style.PressedStyle.CssClass = "icqPressed";
                    settings.UseSubmitBehavior = false;
            //settings.ClientSideEvents.Click = "function(s, e){ if (ASPxClientEdit.ValidateEditorsInContainer(null)) { ProcessPanelTercero.SetText('Almacenando Tercero'); ProcessPanelTercero.Show(); $('#frmTercero').submit(); }}";
            settings.ClientSideEvents.Click = "function(s, e){ if (ASPxClientEdit.ValidateEditorsInContainer(null)) {AlmacenarTercero(); } }";
                }).GetHtml();
            });
        }).GetHtml();
    }
</div>